<div class="page-header">
  <h1>Oficina #<%= @oficina.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Categoria</dt>
  <dd><%= @oficina.categoria %></dd>

  <dt>Item</dt>
  <dd><%= @oficina.item %></dd>

  <dt>Resumo</dt>
  <dd><%= @oficina.resumo %></dd>

  <dt>Publicoalvo</dt>
  <dd><%= @oficina.publicoalvo %></dd>

  <dt>Descricao</dt>
  <dd><%= @oficina.descricao %></dd>

  <dt>Aprendizagem</dt>
  <dd><%= @oficina.aprendizagem %></dd>

  <dt>Duracao</dt>
  <dd><%= @oficina.duracao %></dd>

  <dt>Preco</dt>
  <dd><%= @oficina.preco %></dd>

</dl>
